.controller-header {
  .back {
    margin-top: 25px;
    a {
      color: #bf1e2e;
    }
    a:hover {
      text-decoration: underline;
      color: #7d141e;
    }
  }
  .info-text {
    text-align: center;
    h3 {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 1.25rem;
    }
    h5 {
      font-size: 16px;
    }
  }
  .need-help {
    text-align: right;
    margin-top: 5px;
    p {
      margin-bottom: 0;
      font-weight: 500;
    }
    .phone {
      .icon-phone {
        color: #ff8000;
        font-size: 18px;
      }
      span.phone-number {
        color: #ff8000;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .back {
    text-align: center !important;
    margin-bottom: 20px;
  }
  .need-help {
    text-align: center !important;
  }
}
