.wrapper-progress {
    position: relative;
    margin-top: 20px;
    z-index: 1;
    .progress {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ddd;
      z-index: 10;
    }
    .progress-active {
      position: absolute;
      top: 24px;
      left: 0;
      height: 1px;
      background: #378f77;
      z-index: 11;
    }
    .step {
      width: 20%;
      padding: 2px 5px;
      text-align: center;
      position: relative;
      float: left;
      z-index: 100;
      .wrapper-icon {
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border: none;
        border-radius: 50%;
        background: #ddd;
  
        .icon {
          font-size: 22px;
          margin-top: 10px;
          color: #fff;
        }
      }
  
      p {
        color: #ddd;
        font-size: 80%;
        font-weight: 400;
      }
    }
    .step.active {
      .wrapper-icon {
        border: 1px solid #ff8000;
        background: #fff;
        .icon {
          color: #ff8000;
        }
      }
      p {
        color: #ff8000;
      }
    }
    .step.active.doing {
      .wrapper-icon {
        border: 1px solid #ff8000;
        background: #ff8000;
        .icon {
          color: #fff;
        }
      }
      p {
        color: #ff8000;
      }
    }
  }
  