.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  gap: 16px;
  padding-left: 16px;
  .my-facebook-button-class {
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: transparent;
    align-items: center;
    display: flex;
  }
  .btn-group {
    display: flex;
    align-items: center;
    .text-facebook {
      margin-bottom: 8px;
      margin-left: 8px;
    }
    .text-google {
      margin-left: 8px;
    }
    .btn-google {
      display: flex;
      padding: 0;
    }
  }
}
