.productMenu {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .productlist {
    border: 1px solid #e8e8e8;
    background: white;
    height: 80px;
    width: 200px;
    margin: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}

.section-inner {
  margin-top: 20px;
  background: white;

  .section-head {
    padding: 14px;
    border: 1px solid #e8e8e8;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    h5.ant-typography {
      font-weight: 700;
    }
  }

  .section-body {
    border: 1px solid #e8e8e8;
    padding: 16px 16px;

    .block-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;

      ul {
        border: none !important;
      }

      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu:hover::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after,
      .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-selected::after {
        border: none !important;
      }
    }

    .block-body {
      display: flex;
      margin-top: 15px;
    }
  }
}

// css tá»«ng proItem
.product_Item {
  @media all and (max-width: 680px) {
    // display: block !important;
    font-size: 10px !important;

    .product_Item_information {
      max-width: 100% !important;

      .price {
        font-size: 10px !important;
      }

      .price-alert {
        font-size: 10px !important;
      }
    }
  }

  .product_Item_information {
    margin: 2% 0;
    padding-left: 1%;
    padding-right: 1%;

    .image {
      img {
        width: 100%;
        height: 175px;
      }
    }

    .meta-field {
      margin-top: 5px;
      align-items: center;
      width: 100%;
      height: 30px;
      margin-bottom: 5px;
      padding: 1px 0;
      color: #999;
      font-size: 11px;
      line-height: 13px;
      white-space: nowrap;
      text-align: center;
      border-radius: 3px;

      .meta-field-col-1::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -0.5px;
        width: 1px;
        height: 20px;
        margin-top: -10px;
        background: #e1e1e1;
      }

      .meta-field-col-1 {
        position: relative;
        flex: 1 1;
        min-width: 1px;
        justify-content: center;
      }

      .meta-field-col-2 {
        flex: 1 1;
        min-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    // .name {
    //     margin: 10px 0px;
    // }

    .price {
      color: #ff6f00;
      font-size: 16px;
      height: 27px;
    }

    .price-alert {
      color: #999;
      font-size: 12px;
      font-style: italic;
      line-height: 16px;
      margin-bottom: 10px;
    }

    .product_Item_information_cart {
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-btn-primary {
        border-radius: 16px;
        height: 35px;
        // width: 60%;
        background: white;
        // border: none;
        color: #ff8000;
      }

      @media all and (max-width: 680px) {
        .ant-btn-primary {
          border-radius: 16px;
          height: 20px;
          // width: 60%;
          font-size: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 680px) {
  .list_menu {
    ul {
      font-size: 10px !important;
    }

    .list_menu_title {
      h5 {
        padding-left: 0px !important;
      }
    }
  }

}

.list_menu {
  background: white;

  .list_menu_title {
    background: #bf1e2e;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;

    h5 {
      margin-bottom: 0px;
      color: white;
      padding-left: 20px;
    }
  }
}

.list_item {
  background: white;

  .half-circle {
    background: #ffa940;
    display: block;
    width: 16px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
    background-clip: padding-box;
  }

  .title {
    margin-top: 4px;
    margin-left: 20px;
  }

  .list_item_body {
    padding: 10px 20px;

    .ant-pagination {
      display: flex;
      justify-content: center;
    }
  }
}

@media all and (max-width: 680px) {
  .product_infomation {
    &_image {

      // padding-top: 1px;
      &_header {
        height: 50% !important;
      }
    }

    &_product {
      padding: 0px;
      font-size: 10px;

      &_price {
        font-size: 15px !important;
      }

      i {
        font-size: 10px !important;
      }

      &_time {
        margin-bottom: 10px;
      }

      &_quatity {
        .ant-btn-primary {
          height: 100% !important;
          margin-bottom: 10px;
          font-size: 10px;
        }
      }
    }

    .product_infomation_page {
      padding: 0px !important;
      font-size: 10px !important;
    }
  }
}

.product_infomation {
  background: white;
  border-radius: 8px;

  &_image {
    // border: 1px solid black;

    &_header {
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
        height: 90%;
      }
    }

    &_footer {
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .list_image {
        &.active {
          border: 1px solid #ff8000;
        }

        justify-content: center;
        display: flex;

        img {
          width: 15%;
          height: 100%;
          margin: 0 5px;
        }
      }
    }
  }

  &_product {
    padding: 10px;

    &_name {
      padding: 5px 0px;
      font-weight: bold;

      p {
        margin-bottom: 0 !important;
      }
    }

    &_price {
      color: #ffa940;
      font-size: 22px;
      display: flex;
      align-items: center;
      margin: 0px;
    }

    i {
      color: #96f8f8;
      font-size: 14px;
    }

    &_login {
      padding: 10px;
      background: #d5eafd;
      color: #0f87ef;
      border-radius: 8px;
      border: 1px solid #aad2f4;
      margin: 10px 0px;
    }

    &_time {
      margin-bottom: 10px;
    }

    &_quatity {
      .product__info__item__quantity {
        display: flex;
        align-items: center;
        margin-right: 10px;
        gap: 8px;

        &__btn {
          background: #0080ff1a;
          color: #0080ff;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-size: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;

          &:disabled {
            background-color: #80808021;
          }
        }

        // &__input {
        //   width: 32px;
        //   margin: 0 4px;
        //   background: transparent;
        //   border: 0;
        //   font-size: 16px;
        //   border-bottom: 1px solid #ccd2dc;
        //   text-align: center !important;
        //   outline: none;
        //   border-radius: 4px;

        //   &::-webkit-outer-spin-button,
        //   &::-webkit-inner-spin-button {
        //     display: none;
        //     margin: 0;
        //   }

        //   -moz-appearance: textfield;

        //   &:focus-visible {
        //     // outline-color: #ffa940;
        //     box-shadow: 0px 0px 5px 1px #ffa940;
        //   }
        // }
      }

      .ant-btn-primary {
        border-radius: 8px;
        height: 35px;
        margin-right: 6px;
      }

      .product_infomation_product_cart {
        background: white;
        color: #ffa940;
      }

      .product_infomation_product_cart:hover {
        background: #ffa940;
        color: white;
      }

      .product_infomation_product_payment {
        background: #ffa940;
        color: white;
      }

      .product_infomation_product_payment:hover {
        background: white;
        color: #ffa940;
      }
    }
  }

  .product_infomation_page {
    padding: 5px;

    &_heder {
      background: #c1dcf4 !important;

      .product_infomation_page_hederr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;

      .product_infomation_page_body_info {
        border: 1px solid black;
        padding: 0px 27px;
      }
    }

    &_body_two {
      padding: 0px 10px;
    }

    &_body_three {
      padding-left: 10px;
      padding-top: 30px;
      // padding-right: 10px;
    }
  }
}

.product_description {
  padding-left: 50px;
  margin-top: 15px;
  border-radius: 8px;
  background: white;
  max-height: 200px;
}

hr {
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  margin: 0px;
  margin-top: 15px;
}