.payment-policy-container {
    padding: 50px;
    .title {
        margin-bottom: 10px;
        font-weight: 600;
        color: #666;
    }
    .infomation {
        display: flex;
        gap: 50px;
        .content {
            flex: 30%;
        }
        .map {
            flex: 70%;
        }
    }
}
.heading {
    margin: 10px;
    font-weight: bold;
    color: #2980b9;

}