@import "@assets/scss/helper";

.main {
  padding: 0;
  margin-top: 140px;
  margin-bottom: 16px;
  width: 100%;
}

@media all and (max-width: 680px) {
  .main {
    min-width: 0 !important;
    width: 100% !important;
  }

  .container_header {
    &__main {
      justify-content: center !important;
    }
  }

  .site-layout-content {
    max-width: calc(100% - 5%) !important;
  }

}

.site-layout-content {
  min-height: 280px;
  // padding: 24px;
  background-color: $white;
  max-width: calc(100vw - 30%);
  margin: auto;
}

.logo {
  float: left;
  width: 50px;

  img {
    width: 120%;
    height: 120%;
  }
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.main-intro-banner {
  img {
    width: 100%;
    height: 500px;
    object-fit: fill;
  }
}

.quote {
  text-align: center;
  background-color: white;
  color: rgb(44, 39, 39);
  // font-size: 32px;
  // padding: 60px 20px;
  font-weight: 900;
  font-style: italic;
}

.container_header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  background-color: #edc576 !important;
  height: fit-content !important;
  padding: 0 !important;

  &__main {
    display: flex;
    margin: 0 auto;
    max-width: calc(100vw - 30%);
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 5px 0;
  }

  &.categories {
    background-color: $white !important;
  }

  .search_bar {
    flex: 1;
    border-radius: 16px;
    border: 1px solid $border-color-base;
    height: fit-content;
    max-height: 46px;
    max-width: 1024px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    min-width: 200px;

    .ant-dropdown-trigger {
      border: none;
      border-right: 1px solid $border-color-base;
      border-radius: 0;
      min-width: 80px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .ant-input-affix-wrapper,
    .ant-input-search-button {
      border: none;
      border-radius: 0 !important;

      .ant-input {
        border-radius: 0;
      }
    }

    .ant-input-affix-wrapper {
      padding: 8px 16px;
      margin-right: 8px;
    }

    .ant-input-group-addon {
      padding-right: 8px !important;
    }
  }
}
