.quote {
    margin: 50px 0;
}
.three-point-item {
    display: flex;
    padding: 20px 100px;
    gap: 20px;
    .point-item {
        display: flex;
        gap: 20px;
        img {
            width: 50px;
            height: 50px;
        }
        .content {
            .title {
                font-size: 18px;
                color: #555555;
                padding-bottom: 20px;
                margin-bottom: 15px;
                position: relative;
                font-family: Noteworthy;
                &::after {
                    content: "...";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 16px;
                    color: #555555;
                }
            }
            .sub-content {
                font-size: 16px;
                color: #555555;
            }

        }
    }
}
.customer-feedback {
    display: flex;
    background: #f6f6f6;
    padding: 50px 100px;
    gap: 50px;
    img {
        width: 400px;
        height: 300px;
        padding-top: 40px;
    }
    .content {
        // height: 3px;
        h3 {
            color: #4F7C1D;
            font-weight: 700;
            font-size: 30px;
        }
        .sub-content {
            display: flex;
            p {
                &:first-of-type {
                    font-weight: bold;
                    padding-right: 5px;
                }
            }
        }
        .sub-icon {
            display: flex;
            align-items: center;
            gap: 30px;
            .star-icon {
                flex: 100px;
                width: 50px;
                height: 50px;
            }
        }
    }
}